.dashboard{

padding:35px;

background:#f8fafc;

min-height:100vh;

}


.dashboard h1{

font-size:36px;

font-weight:700;

}



.subtitulo{

color:#64748b;

margin-bottom:30px;

}



.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}



.card{

background:white;

padding:25px;

border-radius:22px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

}



.card h2{

font-size:38px;

margin:15px 0;

}



.card span{

color:#64748b;

}



.rojo{

color:#dc2626;

}



.verde{

color:#16a34a;

}





.grid{

display:grid;

grid-template-columns:
2fr 1fr;

gap:25px;

margin-top:30px;

}




.panel{

background:white;

padding:25px;

border-radius:22px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

}



.panel h2{

margin-bottom:20px;

}




.alert{

padding:15px;

border-radius:15px;

margin-bottom:15px;

font-weight:600;

}



.alert p{

margin:5px 0 0;

font-size:13px;

}




.critica{

background:#fee2e2;

color:#dc2626;

}



.warning{

background:#fef3c7;

color:#d97706;

}



.ok{

background:#dcfce7;

color:#16a34a;

}





.actividad{

margin-top:25px;

}



.actividad p{

padding:15px 0;

border-bottom:1px solid #eee;

}



.actividad span{

float:right;

color:#64748b;

font-size:13px;

}



@media(max-width:900px){

.grid{

grid-template-columns:1fr;

}

}